.button {
  display: block;
  position: relative;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--black-20);
  transition: box-shadow .1s;
  outline: 0 !important;
  &:hover:not(:disabled),
  &:active:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--black-40);
  }
  &:focus:not(:disabled) {
    box-shadow:
      inset 0 0 0 1px #212121,
      0 0 0 1px #212121;
  }
  &:active:not(:disabled) {
    filter: brightness(80%);
  }
  &:disabled:not([data-loading]) {
    cursor: not-allowed;
    opacity: .5;
    filter: grayscale(80%);
  }
  &:disabled[data-loading] {
    cursor: progress;
    &::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 1.5em;
			height: 1.5em;
			margin-top: calc(-1.5em / 2);
			margin-left: calc(-1.5em / 2);
			border: 2px solid;
			border-color: currentColor currentColor transparent transparent;
			border-radius: 100%;
			animation: rotate .5s linear infinite;
		}
    & .button-caption {
      visibility: hidden;
    }
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.button-outlined {
  &:disabled,
  &:not(:hover, :focus, :active) {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px currentColor;
    & .button-caption {
      color: inherit;
    }
  }
}

.button-clear {
  &:disabled,
  &:not(:hover, :focus, :active) {
    background-color: transparent;
    box-shadow: none;
    & .button-caption {
      color: inherit;
    }
  }
}

.button-over {
  z-index: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: transparent;
    border-radius: inherit;
    z-index: -1;
  }
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    &::before {
      background-color: var(--black-20);
    }
  }
  &:active:not(:disabled) {
    &::before {
      background-color: var(--black-50);
    }
  }
}

@keyframes rotate {
    0% { transform: rotateZ(-360deg); }
  100% { transform: rotateZ(0deg); }
}
