.field {
  display: block;
  position: relative;
}

.field-label,
.field-note {
  position: absolute;
  z-index: 1;
  line-height: 1rem;
  top: -.5rem;
  padding: 0 .5rem;
}

.field-label {
  left: .5rem;
}

.field-note {
  right: .5rem;
}

.field-input {
  appearance: none;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  outline: 0 !important;
}

.field-textarea {
  & .field-input {
    resize: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  & .field-input,
  & .field-preview {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

.field-bt {
  box-shadow: inset 0 1px var(--black-10);
}

.field-bb {
  box-shadow: inset 0 -1px var(--black-10);
}

.field-border {
  box-shadow: inset 0 0 0 1px var(--black-10);
  transition: box-shadow .1s;
}

.field-border:hover:not(:disabled) {
  box-shadow: inset 0 0 0 1px var(--black-20);
}

.field-border.field-focus:not(:disabled) {
  box-shadow: inset 0 0 0 1px var(--blue),
    0 0 0 1px var(--blue);
}

.field-invalid {
  & .field-note {
    color: var(--red);
  }
  &.field-border,
  &.field-border:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--red);
  }
  &.field-border.field-focus:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--red),
      0 0 0 1px var(--red);
  }
}

.field-disabled,
.field :disabled {
  cursor: not-allowed;
  color: var(--black-50);
}

.field-placeholder,
.field ::placeholder {
    color: var(--black-20);
    opacity: 1;
}
