@import '-fields';
@import '-buttons';

.a-ul:focus,
.a-anchor:focus .a-ul {
  background-color: var(--yellow);
  text-decoration: underline;
}

.a-ul:active,
.a-anchor:active .a-ul {
  background-color: inherit;
  text-decoration: underline;
}
